@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Dancing+Script:wght@500&family=Ubuntu:wght@300&display=swap');

body {
    /* margin: 2px;
    padding: 2px;
    border: 1px solid black; */

    background-image: url("https://www.toolcalculator.com/images/person.png");
    /* position: fixed; */
    background-repeat: no-repeat;
    background-size: contain;

    /* opacity: 0.8; */

}

.container {
    display: flex;
}

/* .image img {
    background-size: contain;
     width: 1250px;
    height: 700px;
    background-repeat: no-repeat;
    margin-top: -85px;
}  */

.elments-container {
    align-items: center;
    justify-content: center;
    height: 475px;
    height: 411px;
    width: 429px;
    border: solid black;
    border-radius: 10px;
    background-color: #afafbd;
    margin: 25px -77px 0px 418px;
}

.input {
    width: 406px;
    margin: 10px 0px 5px 5px;
    height: 69px;
    color: aliceblue;
    border-radius: 0%;
    font-size: 25px;
    font-family: 'Ubuntu';
    font-weight: bold;
    box-shadow: 4px 4px black;
    background-color: black;
    opacity: 0.8;
}
#divide-opr, #operator-multiply , #operator-minus , #operator-plus , #operator-is-equl-to{
    width: 96px;
    height: 52px;
    margin: 5px;
    float: left;
    border-radius: 12%;
    border-width: 0;
    font-weight: bold;
    font-size: 25px;
    font-family: 'Ubuntu', sans-serif;
    background-color: #e8d61c;
    color: black;
    cursor: pointer;
    box-shadow: 4px 4px;
}

.operator {
    width: 96px;
    height: 52px;
    margin: 5px;
    float: left;
    border-radius: 12%;
    border-width: 0;
    font-weight: bold;
    font-size: 25px;
    font-family: 'Ubuntu', sans-serif;
    background-color: #e8d61c;
    color: black;
    cursor: pointer;
    box-shadow: 4px 4px;
}

.operator-font {
    width: 96px;
    height: 52px;
    margin: 5px;
    float: left;
    border-radius: 12%;
    border-width: 0;
    font-weight: bold;
    font-size: 25px;
    font-family: 'Ubuntu', sans-serif;
    background-color: #e8d61c;
    color: black;
    cursor: pointer;
    box-shadow: 4px 4px;
}

.operator:hover {
    font-size: 28px;
    font-weight: bolder;
}

.operator-font :hover {
    font-size: 30px;
    /* font-weight: 400; */
}

.text {
    /* font-style: italic; */
    font-weight: bold;
    font-size: 14px;
    margin: 77px 0px 0px -15px;
    font-family: 'Cedarville Cursive', 'cursive';
    font-style: italic;
}